.container{
    width: 100%;
    display: flex;
    height: 928px;
    background-color: rgb(226, 226, 226);
    justify-content: center;
    align-items: center;
}
.calculator{
    width:350px;
    height:660px;
    background-color: #3A4655;
}

/*Top side*/
.top-side{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.calculations{
    height: 34%;
    width: 88%;
    border-bottom: solid 2px #90909046;
    display: flex;
    align-items:end;
    justify-content: end;
}
.inputs{
    width: 300px;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(139, 138, 159, 0.627);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.result{
    height: 34%;
    width: 88%;
    display: flex;
    align-items:end;
    justify-content: end;
    text-align: end;
}
.outputs{
    width: 300px;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(228, 228, 228);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/*Bot side*/
.calc-row{
    box-sizing: content-box;
    display: flex;
}
.btn{
    width: 85px;
    height: 90px;
    margin: 1px;
    border: none;
    background-color: #425062;
    color:white;
    font-size: 28px;
    transition: 0.3s;
}
.btn:hover{
    background-color: #6e8097;
    transform: scale(1.05);
    transition: 0.2s;
}
.btn.one:hover{
    background-color: #6e8097;
    transform: scale(1.05);
    transition: 0.2s;
}
.btnClick{
    background-color: #97916e !important;
}
.btn.one{
    background-color: #404D5E;
    color:rgba(255, 255, 255, 0.644);
}
.btn.c{
    background-color: #404D5E;
    color:rgba(255, 98, 98, 0.736);
}